<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
       <footer class="page-footer heigh= blue darken-3">
        <div class="container">
          <div class="row blue darken-3">
            <div class="col s6">
              <h5 class="white-text">ALMAMOV</h5>
              <p class="white-text text-lighten-4">Our thanks you!</p>
            </div>
            <div class="col">
              <h5 class="white-text">Team</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Member 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Member 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Member 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Member 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright light-green accent-4">
          <div class="container white-text">
            © 2017 Copyright
          <a class="white-text text-lighten-4 right" href="#!">ALMAMOV</a>
          </div>
        </div>
    </footer>
    </body>
</html>