<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
       <footer class="page-footer heigh= blue darken-3">
        <div class="container">
          <div class="row blue darken-3">
            <div class="col s6">
              <h5 class="white-text">ALMAMOV</h5>
              <p class="white-text text-lighten-4">ALMAMOV is a data warehouse which shows graphics about MiBici records. Trips, hours, ports, origins and destinations are showed as Charts for a better user understandig. Also, the application allows to admins to applya a data mining algorithm to the data warehouse. Data Mining algorithms were taken from this repo.</p>
            </div>
            <div class="col">
              <h5 class="white-text">Team</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Leonel Vera Yesenia Nathali</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Lara Lopez Christian Emmanuel</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Ponce Bautista Eleazar</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Vazquez Hernandez Jorge Salvador</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright light-green accent-4">
          <div class="container white-text">
            © 2017 Copyright
          <a class="white-text text-lighten-4 right" href="#!">ALMAMOV</a>
          </div>
        </div>
    </footer>
    </body>
</html>