

<div class="row">
      <div class="col s12 m5">
        <div class="card-panel blue darken-3" align-items: center>
          <span class="white-text">It’s a cool data warehouse  for MiBici trips. It Allows the users to apply data mining algorithms to our database in order to get trends, recurrences or forecast about MiBici trips.
          </span>
        </div>
      </div>
      <div class="col s12 m5">
        <div class="card-panel light-green darken-1">
          <span class="white-text">Also, It provides information about stations and the trips that have been made in 2017.
          </span>
        </div>
      </div>
 </div>