<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="row">
		      <div class="col s12 m12">
		        <div class="card-panel light-green darken-1" style="text-align: center; font-size: 18px;">
		          <h3><span class="white-text">General Statistics of MIBICI
		          </span></h3>
		        </div>
		      </div>
		 
		<div>
			<iframe width="800" height="600" style="align-content: center;" src="https://app.powerbi.com/view?r=eyJrIjoiY2ZhZjk0MDMtMmQ1OC00MjJjLTgxOTYtY2Q3YmNmZGZiNWI5IiwidCI6ImUzY2NhZGY3LWEwYzYtNDI0MC05OGE5LTg4MTY0ODEyZTNmMCIsImMiOjR9" frameborder="10" allowFullScreen="true"></iframe>
		</div>

		<div></div>
		<div class="row">
		      <div class="col s12 m12">
		        <div class="card-panel light-green darken-1" style="text-align: center; font-size: 18px;">
		          <h3><span class="white-text">State of the Seasons on Map
		          </span></h3>
		        </div>
		      </div>
		<div>
			<iframe frameborder="10" height="525px" scrolling="no" src="https://amg.bktbp.com/monitor4.php" width="100%" style="height: 467px;"></iframe>
		</div>
	</div>
	</body>
</html>
